.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.calc-wrapper{
    display: flex;
    height: 600px;
    width: 400px;
    flex-direction: column;
}
.row{
    display: flex;
    width: 100%;
}



